FreesurfaceImages/
__pycache__/
*.pyc
*.log
lbm_debug.log
phi_results.txt
phi_results_*.txt
param_study_master.log
github-repo-token.txt
literature/
.ipynb_checkpoints/
*.ipynb
frames2D/
explosion/
_old_outputs/
*.png
lb_results/
phi_matrix_*
# simulation output
*.npz
*.npy
*.out
*.h5
*.vtk
# compiled C files
c_files/*.o
c_files/*.s
c_files/*.a
c_files/hello1
c_files/iter
c_files/measurement
c_files/output
c_files/server
c_files/todo
